   table {
       border-collapse: collapse;
       /* 枠線を一本にする */
       margin: 10px 40px 40px;
       min-width: 700px;

   }

   td {
       padding: 10px;
       border: 1px solid #333;
       /* マス目の黒い線 */
       text-align: center;
       vertical-align: middle;
       background-color: #fff;
       /* 初期の色（白） */

       transition: background-color 0.3s;
       /* 色変更を滑らかにする */
       font-size: 22px;
   }

   .type {
       display: inline-block;
   }

   .input-wide {
       width: 600px;
       margin: 5px;
       height: 16px;
       padding: 0;
   }

   textarea {
       width: 500px;
       margin: 5px;
       height: 20px;
       padding: 0;
   }

   input,
   textarea {
       /* 1. 計算方式を統一（heightにpaddingとborderを含める） */
       box-sizing: border-box;

       /* 2. 縦の位置合わせを中央または上端に統一 */
       vertical-align: middle;
       /* または top */
   }

   div {
       border: solid 3px red;
   }

   .result-teller {
        margin: 10px 0 0 60px; 
         font-size: 30px;
   
       font-weight: bold;
       border-bottom: 3px solid red;
       color: red;
       display: inline-block;
   }

   .result-teller-sub {
       font-size: 14px;
       margin: 3px 0 0 60px;
       font-weight: bold;
       color: red;
       height:14px;

   }

   .none {
       display: none;
   }
   .opacity{
    opacity:0.5;
   }